{% extends 'administrador/base.html' %} {% block konteudu %}{% load crispy_forms_tags %}

<div class="content-wrapper" style="min-height: 1246.72px">
  <!-- Content Header (Page header) -->
  <header> 
    <ol class="breadcrumb mb-1 mt-1">
      <li class="breadcrumb-item"><a href="{% url 'lista-usuario' %}">Fila</a></li>
      {% if page == 'form_project' %}
      <li class="breadcrumb-item"><a href="#">Lista Usuario</a></li>      
      {%endif%}
      <li class="breadcrumb-item active" aria-current="page">{{title}}</li>
    </ol>
  </header>

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <!-- left column -->
        <div class="col-md-9">
          <!-- general form elements -->
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">{{ page }}</h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            {% if form.errors %}
                {% for field in form %}
                    {% for error in field.errors %}
                    <div id="divmessage" class="alert alert-danger alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        {{ field.label }}: {{ error }}
                    </div>
                    {% endfor %}
                {% endfor %}
            {% endif %}
            <h2 class="text-center">{{ title }}</h2>
                {% if user_form %}
                
                    <form method="post">
                      <div class="card-body m-2"> 
                            {% csrf_token %}
                            {{ user_form|crispy }}    
                        <button type="submit" class="btn btn-sm btn-primary" name="user_form">{{ button }}</button>
                        <button type="reset" class="btn btn-sm btn-dark"  onclick="self.history.back()"><i class="fa fa-backward"></i> Kansela</button>
                        </div>
                   
                    </form>
                {% endif %}

                {% if profile_form and user %}
                    <h2 class="text-center">Assign Profile for {{ user.username }}</h2>
                    <form method="post" enctype="multipart/form-data">
                      <div class="card-body">
                        <div class="form-group">
  
                        {% csrf_token %}
                        {{ profile_form|crispy }}
                        
                        <input type="hidden" name="user_id" value="{{ user.id }}">
                        <button type="submit" class="btn btn-sm btn-primary" name="profile_form">{{ button }}</button>
                        <button type="reset" class="btn btn-sm btn-dark"  onclick="self.history.back()"><i class="fa fa-backward"></i> Kansela</button>
                      </div>
                    </div>
                    </form>
                {% endif %}
          </div>
          </div>
          <!-- /.card -->

          <!-- Form Element sizes -->
        </div>
        <!--/.col (right) -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>

{% endblock %}
