{% extends 'administrador/base.html' %} {% block konteudu %} {% load static %}

<div class="wrapper">
  <!-- Navbar -->

  <!-- /.navbar -->

  <link rel="stylesheet" href="{% static 'assets/plugins/datatables-bs4/css/dataTables.bootstrap4.css' %}" />
  <!-- Tell the browser to be responsive to screen width -->

  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>{{ title }}</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">DataTables</li>
            </ol>
          </div>
        </div>
      </div>
      <!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Klasse ba {{ kurso.naran_kurso }}</h3>
            </div>
            {% if messages %} {% for message in messages %}

            <div class="container">
              <div class="alert alert-info m-2 alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
            </div>
            {% endfor %} {% endif %}
            <!-- /.card-header -->
            <div class="card-body">
              <div id="example1_wrapper" class="dataTables_wrapper dt-bootstrap4">
                <div class="row">
                  <div class="col-sm-12 col-md-6">
                    <div class="dataTables_length" id="example1_length">
                      <!-- <label
                        >Show
                        <select name="example1_length" aria-controls="example1" class="custom-select custom-select-sm form-control form-control-sm">
                          <option value="10">10</option>
                          <option value="25">25</option>
                          <option value="50">50</option>
                          <option value="100">100</option>
                        </select>
                        entries</label
                      > -->
                    </div>
                  </div>
                  <div class="col-sm-12 col-md-6">
                    <div id="example1_filter" class="dataTables_filter">
                      <!-- <label>Search:<input type="search" class="form-control form-control-sm" placeholder="" aria-controls="example1" /> </label> -->
                    </div>
                  </div>
                </div>
                <div class="col-md-9">
                  <div class="card">
                    <div class="card-header p-2">
                      <ul class="nav nav-pills">
                        <li class="nav-item"><a class="nav-link active" href="#activity" data-toggle="tab">2021</a></li>
                        <li class="nav-item"><a class="nav-link" href="#timeline" data-toggle="tab">2022</a></li>
                        <li class="nav-item"><a class="nav-link" href="#settings" data-toggle="tab">2023</a></li>
                      </ul>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                      <div class="tab-content">
                        <div class="active tab-pane" id="activity">
                          <!-- Post -->
                          <div class="tabela">
                            <table class="table table-hover">
                              <thead>
                                <tr role="row">
                                  <th>No</th>
                                  <th>Naran Klase</th>
                                  <th>Tinan 2021</th>
                                  <th>Aksaun</th>
                                </tr>
                              </thead>
                            
                              <tbody>
                                {% for data in klase %}
                                <tr>
                                  <td>{{ forloop.counter }}</td>
                                  <td><a href="{% url 'detail-estudante-klase' kurso.id data.klase.id  %}">{{ data.klase.naran_klase }} </a></td>
                                  <td>{{ data.tinan.tinan }}</td>
                            
                                  <td>
                                    <a href="{% url 'detail-estudante-klase' kurso.id data.klase.id %}" class="btn-sm btn-outline-info">Detailhu</a>
                                  </td>
                                </tr>
                                {% endfor %}
                              </tbody>
                            </table>
                          </div>
                        </div>
                        <!-- /.tab-pane -->
                        <div class="tab-pane" id="timeline">
                          <!-- The timeline -->
                          <div class="tabela">
                            <table class="table table-hover">
                              <thead>
                                <tr role="row">
                                  <th>No</th>
                                  <th>Naran Klase</th>
                                  <th>Tinan 2022</th>
                                  <th>Aksaun</th>
                                </tr>
                              </thead>
                            
                              <tbody>
                                {% for data in klase %}
                                <tr>
                                  <td>{{ forloop.counter }}</td>
                                  <td><a href="{% url 'detail-estudante-klase' kurso.id data.klase.id  %}">{{ data.klase.naran_klase }} </a></td>
                                  <td>{{ data.tinan.tinan }}</td>
                            
                                  <td>
                                    <a href="{% url 'detail-estudante-klase' kurso.id data.klase.id %}" class="btn-sm btn-outline-info">Detailhu</a>
                                  </td>
                                </tr>
                                {% endfor %}
                              </tbody>
                            </table>
                          </div>
                        </div>
                        <!-- /.tab-pane -->
      
                        <div class="tab-pane" id="settings">
                          <div class="tabela">
                            <table class="table table-hover">
                              <thead>
                                <tr role="row">
                                  <th>No</th>
                                  <th>Naran Klase</th>
                                  <th>Tinan 2023</th>
                                  <th>Aksaun</th>
                                </tr>
                              </thead>
                            
                              <tbody>
                                {% for data in klase %}
                                <tr>
                                  <td>{{ forloop.counter }}</td>
                                  <td><a href="{% url 'detail-estudante-klase' kurso.id data.klase.id  %}">{{ data.klase.naran_klase }} </a></td>
                                  <td>{{ data.tinan.tinan }}</td>
                            
                                  <td>
                                    <a href="{% url 'detail-estudante-klase' kurso.id data.klase.id %}" class="btn-sm btn-outline-info">Detailhu</a>
                                  </td>
                                </tr>
                                {% endfor %}
                              </tbody>
                            </table>
                          </div>
                        </div>
                        <!-- /.tab-pane -->
                      </div>
                      <!-- /.tab-content -->
                    </div>
                    <!-- /.card-body -->
                  </div>
                  <!-- /.nav-tabs-custom -->
                </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>

        <!-- Modal -->
      </div>

      <!-- /.row -->
    </section>
    <!-- /.content -->
  </div>

  <!-- /.content-wrapper -->
  <!-- <script src="{% static 'assets/plugins/jquery/jquery.min.js' %}"></script>

  <script>
    $(function () {
      $("#example1").DataTable();
      $("#example2").DataTable({
        paging: true,
        lengthChange: false,
        searching: false,
        ordering: true,
        info: true,
        autoWidth: false,
      });
    });
  </script> -->
  <!-- ./wrapper -->
  {% block scripts %}
  <script src="{% static 'assets/plugins/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'assets/plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/dist/js/adminlte.min.js' %}"></script>
  {% endblock %}
</div>
{% endblock %}


