{% extends 'administrador/base.html' %}{% block konteudu %}{% load static %}
<div class="wrapper">
  <!-- Main Sidebar Container -->
<style>
  /* Style for the thumbnail image */
.thumbnail {
    cursor: pointer;
    transition: 0.3s;
}

.thumbnail:hover {
    opacity: 0.7;
}

/* Modal styling */
.modal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8); /* Black with opacity */
}

/* Modal content (the enlarged image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Close button */
.close {
    position: absolute;
    top: 20px;
    right: 35px;
    color: #ffffff;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #bbbbbb;
    text-decoration: none;
}
</style>
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>About Noscar</h1>
          </div>
          
        </div>
      </div>
      <!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-3">
            <!-- Profile Image -->

            <div class="card card-primary card-outline">
              <div class="card-body box-profile">
                <div class="text-center">
                  <img class="profile-user-img img-fluid img-circle" src="{% static 'img/noscar/7.jpg' %}" alt="User profile picture" />
                </div>

                <h3 class="profile-username text-center">Eskola Secundaria Katolika Nossa Senhora do Carmo</h3>

                <p class="text-muted text-center">Lete-Foho</p>

                <!-- <ul class="list-group list-group-unbordered mb-3">
                  <li class="list-group-item"><b>Followers</b> <a class="float-right">1,322</a></li>
                  <li class="list-group-item"><b>Following</b> <a class="float-right">543</a></li>
                  <li class="list-group-item"><b>Friends</b> <a class="float-right">13,287</a></li>
                </ul> -->

                <!-- <a href="#" class="btn btn-primary btn-block"><b>Follow</b></a> -->
              </div>
              <!-- /.card-body -->
            </div>

            <!-- /.card -->

            <!-- About Me Box -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Visaun no Misaun</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <strong> Visaun</strong>

                <p class="text-muted">
                  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Amet laboriosam natus iusto nostrum consectetur earum autem ea totam necessitatibus error? Culpa, non sapiente! Facilis, sapiente! Et vitae dolores vel facilis.
                </p>

                <hr />

                <strong>Misaun</strong>

                <p class="text-muted">
                  <ul>
                    <li>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rerum voluptates sunt minus enim dignissimos. Tempora quaerat dolores nulla omnis </li>
                    <li>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rerum voluptates sunt minus enim dignissimos. </li>
                  </ul>
                </p>

                <hr />

               
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
          <div class="col-md-9">
            <div class="card">
              <div class="card-header p-2">
                <ul class="nav nav-pills">
                  <li class="nav-item"><a class="nav-link active" href="#activity" data-toggle="tab">Historia Noscar</a></li>
                  <!-- <li class="nav-item"><a class="nav-link" href="#timeline" data-toggle="tab">Timeline</a></li>
                  <li class="nav-item"><a class="nav-link" href="#settings" data-toggle="tab">Settings</a></li> -->
                </ul>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <div class="tab-content">
                  <div class="active tab-pane" id="activity">
                    <!-- Post -->
                  <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Est, quibusdam corrupti rerum nobis, recusandae natus quas aut doloremque aperiam iure similique placeat consectetur eius voluptatibus! Reiciendis animi repellendus fugiat repudiandae?
                  </p>
                  <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Est, quibusdam corrupti rerum nobis, recusandae natus quas aut doloremque aperiam iure similique placeat consectetur eius voluptatibus! Reiciendis animi repellendus fugiat repudiandae?
                  </p>
                    <!-- /.post -->

                    <!-- Post -->
                    <div class="post clearfix">
                  
                      <p>
                        Lorem ipsum represents a long-held tradition for designers, typographers and the like. Some people hate it and argue for its demise, but others ignore the hate as they create awesome tools to help create filler text
                        for everyone from bacon lovers to Charlie Sheen fans.
                      </p>

                    
                    </div>
                    <!-- /.post -->

                    <!-- Post -->
                    <div class="post">
                      <h5>Imagen Noscar</h5>
                      <!-- /.user-block -->
                      <div class="row mb-3">
                        <div class="col-sm-6">
                          <img class="img-fluid thumbnail" src="{% static 'img/noscar/4.jpg' %}" alt="Photo" onclick="enlargeImage(this)">
                        </div>
                        <div id="imageModal" class="modal" onclick="closeModal()">
                          <span class="close">&times;</span>
                          <img id="enlargedImage" class="modal-content">
                         </div>
                        <!-- /.col -->
                        <div class="col-sm-6">
                          <div class="row">
                            <div class="col-sm-6">
                              <img class="img-fluid thumbnail" src="{% static 'img/noscar/1.jpg' %}" alt="Photo" onclick="enlargeImage(this)">
                              <img class="img-fluid thumbnail" src="{% static 'img/noscar/2.jpg' %}" alt="Photo" onclick="enlargeImage(this)">
                            </div>
                            <!-- /.col -->
                            <div class="col-sm-6">
                              <img class="img-fluid thumbnail" src="{% static 'img/noscar/3.jpg' %}" alt="Photo" onclick="enlargeImage(this)">
                              <img class="img-fluid thumbnail" src="{% static 'img/noscar/4.jpg' %}" alt="Photo" onclick="enlargeImage(this)">
                            </div>
                            <!-- /.col -->
                          </div>
                          <!-- /.row -->
                        </div>
                        <!-- /.col -->
                      </div>
                      <!-- /.row -->

                      <p>
                        <a href="#" class="link-black text-sm mr-2"><i class="fas fa-share mr-1"></i> Share</a>
                        <a href="#" class="link-black text-sm"><i class="far fa-thumbs-up mr-1"></i> Like</a>
                        <span class="float-right">
                          <a href="#" class="link-black text-sm"> <i class="far fa-comments mr-1"></i> Comments (5) </a>
                        </span>
                      </p>

                      <input class="form-control form-control-sm" type="text" placeholder="Type a comment" />
                    </div>
                    <!-- /.post -->
                  </div>
                  <!-- /.tab-pane -->
                  <div class="tab-pane" id="timeline">
                    <!-- The timeline -->
                    <div class="timeline timeline-inverse">
                      <!-- timeline time label -->
                      <div class="time-label">
                        <span class="bg-danger"> 10 Feb. 2014 </span>
                      </div>
                      <!-- /.timeline-label -->
                      <!-- timeline item -->
                      <div>
                        <i class="fas fa-envelope bg-primary"></i>

                        <div class="timeline-item">
                          <span class="time"><i class="far fa-clock"></i> 12:05</span>

                          <h3 class="timeline-header"><a href="#">Support Team</a> sent you an email</h3>

                          <div class="timeline-body">
                            Etsy doostang zoodles disqus groupon greplin oooj voxy zoodles, weebly ning heekya handango imeem plugg dopplr jibjab, movity jajah plickers sifteo edmodo ifttt zimbra. Babblely odeo kaboodle quora plaxo ideeli
                            hulu weebly balihoo...
                          </div>
                          <div class="timeline-footer">
                            <a href="#" class="btn btn-primary btn-sm">Read more</a>
                            <a href="#" class="btn btn-danger btn-sm">Delete</a>
                          </div>
                        </div>
                      </div>
                      <!-- END timeline item -->
                      <!-- timeline item -->
                      <div>
                        <i class="fas fa-user bg-info"></i>

                        <div class="timeline-item">
                          <span class="time"><i class="far fa-clock"></i> 5 mins ago</span>

                          <h3 class="timeline-header border-0"><a href="#">Sarah Young</a> accepted your friend request</h3>
                        </div>
                      </div>
                      <!-- END timeline item -->
                      <!-- timeline item -->
                      <div>
                        <i class="fas fa-comments bg-warning"></i>

                        <div class="timeline-item">
                          <span class="time"><i class="far fa-clock"></i> 27 mins ago</span>

                          <h3 class="timeline-header"><a href="#">Jay White</a> commented on your post</h3>

                          <div class="timeline-body">Take me to your leader! Switzerland is small and neutral! We are more like Germany, ambitious and misunderstood!</div>
                          <div class="timeline-footer">
                            <a href="#" class="btn btn-warning btn-flat btn-sm">View comment</a>
                          </div>
                        </div>
                      </div>
                      <!-- END timeline item -->
                      <!-- timeline time label -->
                      <div class="time-label">
                        <span class="bg-success"> 3 Jan. 2014 </span>
                      </div>
                      <!-- /.timeline-label -->
                      <!-- timeline item -->
                      <div>
                        <i class="fas fa-camera bg-purple"></i>

                        <div class="timeline-item">
                          <span class="time"><i class="far fa-clock"></i> 2 days ago</span>

                          <h3 class="timeline-header"><a href="#">Mina Lee</a> uploaded new photos</h3>

                          <div class="timeline-body">
                            <img src="http://placehold.it/150x100" alt="..." />
                            <img src="http://placehold.it/150x100" alt="..." />
                            <img src="http://placehold.it/150x100" alt="..." />
                            <img src="http://placehold.it/150x100" alt="..." />
                          </div>
                        </div>
                      </div>
                      <!-- END timeline item -->
                      <div>
                        <i class="far fa-clock bg-gray"></i>
                      </div>
                    </div>
                  </div>
                  <!-- /.tab-pane -->

                  <div class="tab-pane" id="settings">
                    <form class="form-horizontal">
                      <div class="form-group row">
                        <label for="inputName" class="col-sm-2 col-form-label">Name</label>
                        <div class="col-sm-10">
                          <input type="email" class="form-control" id="inputName" placeholder="Name" />
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
                        <div class="col-sm-10">
                          <input type="email" class="form-control" id="inputEmail" placeholder="Email" />
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="inputName2" class="col-sm-2 col-form-label">Name</label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" id="inputName2" placeholder="Name" />
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="inputExperience" class="col-sm-2 col-form-label">Experience</label>
                        <div class="col-sm-10">
                          <textarea class="form-control" id="inputExperience" placeholder="Experience"></textarea>
                        </div>
                      </div>
                      
                      <div class="form-group row">
                        <div class="offset-sm-2 col-sm-10">
                          <div class="checkbox">
                            <label> <input type="checkbox" /> I agree to the <a href="#">terms and conditions</a> </label>
                          </div>
                        </div>
                      </div>
                      <div class="form-group row">
                        <div class="offset-sm-2 col-sm-10">
                          <button type="submit" class="btn btn-danger">Submit</button>
                        </div>
                      </div>
                    </form>
                  </div>
                  <!-- /.tab-pane -->
                </div>
                <!-- /.tab-content -->
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.nav-tabs-custom -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>

    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->
<script>
  function enlargeImage(img) {
      // Get the modal and image elements
      var modal = document.getElementById("imageModal");
      var enlargedImage = document.getElementById("enlargedImage");

      // Set the source of the enlarged image to the clicked thumbnail
      enlargedImage.src = img.src;

      // Display the modal
      modal.style.display = "block";
  }

  function closeModal() {
      // Hide the modal when clicked
      var modal = document.getElementById("imageModal");
      modal.style.display = "none";
  }
</script>
<script src="{% static 'assets/plugins/jquery/jquery.min.js'%}"></script>
<script src="{% static 'assets/dist/js/adminlte.min.js' %}"></script>
{% endblock %}
